.App {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    color: black;
    background: #f0eded;
    margin: 25px auto;
    border-radius: 15px;
    height: 700px;
}

.button {
    margin: 0 30px;
}